#!/bin/bash

. /usr/local/scratches/scratch.config;
. ${scratchGitRoot}/scratch.lib.sh;
. ${scratchGitRoot}/scratch.aliases;

export PATH=${scratchBin}:/usr/local/lib/docker/cli/:$PATH
alias scratch="scratch-git $@"
alias scratch-release="scratch-git add .; scratchGit commit -m 'Update'"
