#!/bin/bash 

source /usr/local/scratches/.scratch-root/scratch.config;
source ${scratchGitRoot}/scratch.lib.sh;
source ${scratchGitRoot}/scratch.aliases;

export PATH=${scratchBin}:$PATH
alias scratch="scratch-git $@"
